.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
/renv/
.Rapp.history
/*.Rcheck/
.Rproj.user/

DS_Store

_extensions
/.quarto/
/.luarc.json
/*_files
/*_cache
/cache/
/_freeze
published-202507-jacques-count-data.html
published-202507-jacques-count-data.pdf

renv/
_environment
/.micromamba/

_site/
logo_notext_white.png
logo_text_white.pdf
